<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href={{path('home')}}>Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href={{path('post.index')}}>PostList<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{path('post.create')}}>create</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                {% if app.user %}
                    <!--si user est connecte-->
                    <a class="btn btn-outline-success my-2 my-sm-0 mr-2 ml-2" href="{{ path('app_logout') }}">logout from {{ app.user.username }}</a>
                {% else %}
                    <!--sinon-->
                    <a class="btn btn-outline-success my-2 my-sm-0 mr-2 ml-2" href={{path('app_login')}}>login</a>
                    <a class="btn btn-outline-success my-2 my-sm-0" href={{path('register')}}>sign up</a>
                {% endif %}
                </form>
            </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
